@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .todo_container {
    @apply flex items-center justify-between px-6 py-4 bg-ddesaturatedBlue text-lgrayishBlue
     border-b-2 border-slate-700
  }
}


:root {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.checkmark:hover {
  border-color: rgb(100, 189, 248);
}

.dark .app {
  background-image: url("./assets/images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
}

.light {
  background-color: #f2f2f2;
}

.light .app {
  background-color: #f2f2f2;
  background-image: url("./assets/images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
}